# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env.local
*.sqlite3

# Byte-compiled / cache
*.egg-info/
.eggs/
*.egg

# Virtual env
venv/
.venv/
env/
ENV/
.env 

# IDE
.vscode/
.idea/

# Docker
*.log

# keep Alembic migrations tracked
!migrations/
!migrations/**
